%h1.title{ style: 'color: #43e554;'}
  %span
    Lattice
  .fa.fa-icon.fa-space-shuttle
  %span
    Trek
  
%table.table.table-data.table-light
  %thead
    %tr
      %th Component
      %th System Status
  %tbody.components
    %tr.component.reactor
      %td.txt-c
        = image_tag 'reactor-icon.png', width: 96, class: 'mvxl'
        .h2.em-low.pan.man
          Reactor
      %td.txt-m
        .label.label-primary.bg-null-1{ style: 'font-size: 1em;'}
          Cannot Connect
        .terminal.mtl
          %pre.type-inverse.bg-dark-1
            %code.message
              Please configure REACTOR_STATUS_ENDPOINT
    %tr.component.cryo-pod
      %td.txt-c
        = image_tag 'cryo-pod-icon.png', width: 96, class: 'mvxl'
        .h2.em-low.pan.man
          Cryo Pod
      %td.txt-m
        .label.label-primary.bg-warn-1{ style: 'font-size: 1em;'}
          Warning
        .terminal.mtl
          %pre.type-inverse.bg-dark-1
            %code
              Please configure CRYO_POD_STATUS_ENDPOINT
      
    %tr.component.commlink
      %td.txt-c
        = image_tag 'commlink-icon.png', width: 96, class: 'mvxl'
        .h2.em-low.pan.man
          Comm Link
      %td.txt-m
        .label.label-primary.bg-dark-1{ style: 'font-size: 1em;'}
          Death
        .terminal.mtl
          %pre.type-inverse.bg-dark-1
            %code
              Please configure COMM_LINK_STATUS_ENDPOINT

    %tr.component.stationkeeping
      %td.txt-c
        = image_tag 'stationkeeping-icon.png', width: 96, class: 'mvxl'
        .h2.em-low.pan.man
          Stationkeeping
      %td.txt-m
        .label.label-primary.bg-succes-2{ style: 'font-size: 1em;'}
          OK
        .terminal.mtl
          %pre.type-inverse.bg-dark-1
            %code
              Please configure STATIONKEEPING_STATUS_ENDPOINT

    %tr.component.science-station
      %td.txt-c
        = image_tag 'science-station-icon.png', width: 96, class: 'mvxl'
        .h2.em-low.pan.man
          Science Station
      %td.txt-m
        .label.label-primary.bg-error-1{ style: 'font-size: 1em;'}
          Cannot Connect
        .terminal.mtl
          %pre.type-inverse.bg-dark-1
            %code
              Please configure SCIENCE_STATION_STATUS_ENDPOINT

